{% extends "base.html.twig" %}

{% block content %}
    <div class="register-box border border-secondary mx-auto">
        <div class="card card-outline card-secondary mx-auto mh-100">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <div class="card-body">
                <form action="{{ path('app_login') }}" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-flag"></span>
                            </div>
                        </div>
                        <select name="country" id="country" class="form-control">
                            <option value="france">France</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                +33
                            </div>
                        </div>
                        <input class="form-control" placeholder="{{ "number"|trans }}" type="number" id="number" name="number" required>
                    </div>
                    <div class="row">
                        <div class="col-12 my-3">
                            <button type="submit" class="btn btn-primary btn-block">{{ 'btn.register'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

