{% extends "base_auth.html.twig" %}

{% block content %}
    <form action="{{ path('app_login') }}" method="post">
        <div class="row">
            <h4 class="col text-center">{{ 'password_forget.title'|trans }}</h4>
        </div>
        <div class="input-group my-2">
            <input class="form-control" placeholder="{{ "email.placeholder"|trans }}" type="password" id="password" name="_password" required>
        </div>
        <div class="row">
            <div class="col-12 my-3">
                <button type="submit" class="btn btn-primary btn-block">{{ 'form.reset_password.title'|trans }}</button>
            </div>
        </div>
    </form>
{% endblock %}
