<h1>Moofication de mot de passe</h1>

<p>
   Pour modifier votre mot de passe veuillez suivre le lien suivant : <br><br>
    <a href="{{ resetPasswordLink }}">Modifier mon de passe</a>.
</p>

<p>
    Cheers!
</p>
