<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{asset('favicon.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="sidebar-mini layout-fixed sidebar-closed sidebar-collapse" style="height: auto;">
        {% block body %}
            <div class="wrapper">

                <!-- Navbar -->
                {% include 'includes/_nav.html.twig' %}
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                {% include 'includes/_sidebar.html.twig' %}

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper" style="min-height: 225px;">
                    <div class="content-header">
                        <div class="container-fluid">
                            {% if not app.user.verified %}
                                <div class="alert alert-warning">
                                    {{ "user.unverified.message"|trans }}
                                </div>
                            {% endif %}
                            {% block content_header %}

                            {% endblock %}

                        </div>
                    </div>
                    <section class="content">
                        <div class="container-fluid">
                            {% block content %}

                            {% endblock %}

                        </div>
                    </section>
                </div>
                <!-- /.content-wrapper -->
                {% include 'includes/_footer.html.twig' %}

                <div id="sidebar-overlay"></div>
            </div>
        {% endblock %}
    </body>
</html>
